.sticky{
  position: fixed;
  width: 100%;
}

.pad{
  margin-top: 30px;
}

body{
  background: white;
  height: 1200px;
  margin: 0px;
}


.body{
  font-size: 18px;
  text-align: center;


}

.announcement{

  display:flex;
  justify-content: center;
  height: 100%;
  text-align: center;
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
  width: 100%;

}

.announcement a {
  color: white;
}

.announcement a:hover {
  color: white;
}

.topnav {
  background-color: white;
  overflow: hidden;
  text-align: center;
  padding: 23px;

}

.topnav a {

    float: center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;


}

.topnav a:hover {

    background-color: white;
    color: black;
    font-weight: bold;
}

.topnav img {
  float: left;
  width: 200px;
  height: 25px;

}



.header{
    background-color: #ff5050;
    padding-top: 200px;
    padding-bottom: 50px;


}

.headertext
{
    font-size: 34px;
    text-align: center;
    color: white;


}

.yellow
{
color: yellow;

}


.card-2 {
  font-family: Arial;
  color: black;
  text-align: left;
  width: 300px;
  margin: 10px;
  padding: 15px;
  font-size: 24px;
  align-items: baseline;

}

.colorbox1
{
background-color: #487ec0;
border-radius: 10px;
font-family: Arial;
color: white;
text-align: left;
width: 300px;
padding: 15px;
font-size: 24px;


}

.colorbox2
{
background-color: #134b91;
border-radius: 10px;
font-family: Arial;
color: white;
text-align: left;
width: 300px;
padding: 15px;
font-size: 24px;
}

.colorbox3
{
background-color: #2c2c2c;
border-radius: 10px;
font-family: Arial;
color: white;
text-align: left;
width: 300px;
padding: 15px;
font-size: 24px;


}

.button {
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 5px;
    width: 100%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover{
  background-color: white;
  color: black ;

}

.card-2 ul{

    list-style: none;
    margin-left: 0;
     padding-left: 1em;
     text-indent: -1em;
}


.card-2 ul li:before {
  content: '✓';

}

.flexcol{
display: inline;
justify-content: center;
flex-direction: column;
align-content: center;

}

.flexrow{
display: flex;
justify-content: center;
flex-direction: row;

}

.card {

  background-color: lightgrey;
  border-radius: 3px;
  font-family: Arial;
  color: black;
  text-align: left;
  width: 500px;
  margin: 10px;
  padding: 45px;
  font-size: 16px;




}

.card-3{
  background-color: white;
  border-radius: 3px;
  font-family: Arial;
  color: darkgrey;
  text-align: left;
  margin: 10px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 11px;


}

.flexrowLeft{
display: flex;
justify-content: left;
flex-direction: row;
padding-left: 345px
}

.FAQ{
display: flex;
justify-content: left;
flex-direction: row;
color: blue;
padding-left: 345px;
padding-bottom: 200px;
text-align: left;

}

.FAQ ul{
list-style: none;
}

.FAQ ul li{

margin: 25px;

}

.FAQ h1{
color: black;


}


.footer{

  display:inline-block;
  height: 350px;
  text-align: left;
  width: 100%;
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;

}

.footer ul{
  text-align: left;
  list-style: none;
  padding: 25px;
  margin: 15px;
  color: white;


}

.footer ul li{
  margin: 10px;

}

.h3{

  text-align: left;
}
